/* style.css */

html, body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  outline-color:rgb(2, 3, 3); /* 10 to 2 (change back) */

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
  
  background-image: linear-gradient(white,rgb(201, 206, 197));
}

canvas {
  border: 20px solid rgba(26, 25, 25, 0.986);
  border-radius: 20px;
  box-shadow: 0 8px 18px 0 rgba(0, 0, 0, 0.2), 0 10px 25px 0 rgba(0, 0, 0, 0.19);
  /*background-color: rgb(22, 61, 10);*/


}

h5 {
    position : fixed;
    margin : auto;
    align-items: center;
    bottom :80; /*530 */
    right : 150; /* 520*/
    width : 80px; /*from 300 to 100 */
    /*border : 3px solid #b7d436;*/
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;

}


score-panel {
  position: fixed;
  top: 50px;   /* adjust as needed */
  right: 50px; /* adjust as needed */
  padding: 10px 20px;
  background: #222;
  color: #fff;
  font-size: 24px;
  font-family: Arial, sans-serif;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0,0,0,0.4);
}


